---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import whitneyhero from '../../assets/whitney-hero.webp'
---

<BaseLayout
  title="PRI5M Showcase"
  description="Modern development for forward thinking individuals"
>
  <section
    class="relative -mt-20 overflow-y-visible bg-gradient-to-t from-violet-400 to-violet-700 pb-20 pt-4 lg:pt-40"
  >
    <div class="container mx-auto flex flex-col gap-14 text-lg lg:flex-row">
      <div class="flex shrink-0 lg:w-1/2">
        <div class="my-auto text-white pt-40 md:pt-0">
          <div
            class="mb-4 inline-block rounded-2xl bg-white text-violet-400 px-2 py-0.5 text-xs font-medium uppercase"
          >
            Services
          </div>
          <h1 class="mb-4 text-5xl font-semibold">Memorable, impactful + timeless Branding</h1>
          <div class="mb-8 text-xl font-light">
            Our branding services elevate your brand's identity, guiding you
            through strategic design processes that capture your essence and
            resonate with your audience, ensuring a lasting impression in
            today's competitive landscape.
          </div>
          <div>
            <a
              href="https://app.visible.vc/create-account"
              class="bg-white rounded px-5 py-3 text-base text-zinc-700 hover:bg-zinc-100 transition-all"
            >
              Continue
            </a>
          </div>
        </div>
      </div>
      <div class="flex justify-end lg:w-1/2">
        <div class="relative block bg-white p-[60px] text-center w-full">
          <h2 class="mx-auto text-[24pt] font-semibold text-zinc-800">
            Request for proposal
          </h2>
          <div class="block pt-10"><div class="space-y-5">
            <div class="relative">
              <input type="email" class="peer py-3 px-4 ps-5 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Name">
            </div>
          
            <div class="relative">
              <input type="email" class="peer py-3 px-4 ps-5 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Email">
            </div>
          
            <div class="relative">
              <input type="text" class="peer py-3 px-4 ps-5 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Phone">
            </div>
            <div class="max-w-full space-y-3">
              <textarea class="py-3 px-4 block min-w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" rows="3" placeholder="This is a textarea placeholder"></textarea>
            </div>
            <div class="relative">
              <input type="submit" class="peer py-3 px-4 ps-5 block w-full bg-blue-500 text-white border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Phone">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="gap-6pb-40 md:py-100 container-flex grid items-center bg-white pt-10"
  >
  </section>
</BaseLayout>
