---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="PRI5M | Contact"
  description="Modern development for forward thinking individuals"
>
<section class="gap-6pb-40 md:py-100 container grid items-center">
  <div class="pt-20">
    <div class="flex flex-col items-center gap-2 text-center">
      <h1
        class="animate-fade text-4xl font-medium animate-delay-200 md:text-6xl"
      >
        Contact <span class="fade">Prism</span>
      </h1>
        <p
          class="text-md mb-10 mt-5 max-w-[700px] animate-fade text-center text-muted-foreground animate-delay-300 md:text-lg"
        >
          Whether you're starting fresh, or levelling-up an existing product,
          Prism brings a depth of experience in brand development, software
          engineering and marketing.
        </p>
      </div>
      <div class="mx-auto mt-10 grid max-w-4xl gap-10 md:grid-cols-2">
        <div>
          <p
            class="animate-delay-400 mt-3 animate-fade text-lg leading-relaxed text-zinc-500"
          >
            Have something to say? We are here to help. Fill up the form or send
            email or call phone.
          </p>
          <div class="mt-5">
            <div
              class="mt-2 flex animate-fade items-center space-x-2 text-zinc-800 animate-delay-500"
            >
              <svg
                viewBox="0 0 24 24"
                class="h-4 w-4 text-zinc-400"
                astro-icon="uil:map-marker"
                ><path
                  fill="currentColor"
                  d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8 8 0 0 0-8-8zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 0 1 12 0c0 3.34-3.87 7.66-6 9.65zM12 6a4 4 0 1 0 4 4 4 4 0 0 0-4-4zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"
                ></path></svg
              >
              <span>1350 N Grant St, Unit 625<br />Denver CO 80203</span>
            </div><div
              class="mt-2 flex animate-fade items-center space-x-2 text-zinc-800 animate-delay-500"
            >
              <svg
                viewBox="0 0 24 24"
                class="h-4 w-4 text-zinc-400"
                astro-icon="uil:envelope"
                ><path
                  fill="currentColor"
                  d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.41 2-5.88 5.88a1 1 0 0 1-1.42 0L5.41 6zM20 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7.41l5.88 5.88a3 3 0 0 0 4.24 0L20 7.41z"
                ></path></svg
              ><a href="mailto:hello@pri5m.com">hello@pri5m.com</a>
            </div><div
              class="mt-2 flex animate-fade items-center space-x-2 text-zinc-800 animate-delay-700"
            >
              <svg
                viewBox="0 0 24 24"
                class="h-4 w-4 text-zinc-400"
                astro-icon="uil:phone"
                ><path
                  fill="currentColor"
                  d="M19.44 13c-.22 0-.45-.07-.67-.12a9.44 9.44 0 0 1-1.31-.39 2 2 0 0 0-2.48 1l-.22.45a12.18 12.18 0 0 1-2.66-2 12.18 12.18 0 0 1-2-2.66l.42-.28a2 2 0 0 0 1-2.48 10.33 10.33 0 0 1-.39-1.31c-.05-.22-.09-.45-.12-.68a3 3 0 0 0-3-2.49h-3a3 3 0 0 0-3 3.41 19 19 0 0 0 16.52 16.46h.38a3 3 0 0 0 2-.76 3 3 0 0 0 1-2.25v-3a3 3 0 0 0-2.47-2.9zm.5 6a1 1 0 0 1-.34.75 1.05 1.05 0 0 1-.82.25A17 17 0 0 1 4.07 5.22a1.09 1.09 0 0 1 .25-.82 1 1 0 0 1 .75-.34h3a1 1 0 0 1 1 .79q.06.41.15.81a11.12 11.12 0 0 0 .46 1.55l-1.4.65a1 1 0 0 0-.49 1.33 14.49 14.49 0 0 0 7 7 1 1 0 0 0 .76 0 1 1 0 0 0 .57-.52l.62-1.4a13.69 13.69 0 0 0 1.58.46q.4.09.81.15a1 1 0 0 1 .79 1z"
                ></path></svg
              ><a href="+1 (813) 480 2803">+1 (813) 480 2803</a>
            </div>
          </div>
        </div>
        <div>
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            id="form"
            class="needs-validation astro-UWNXE3I2"
            novalidate=""
          >
            <input
              type="hidden"
              name="access_key"
              value="YOUR_ACCESS_KEY_HERE"
              class="astro-UWNXE3I2 animate-fade animate-delay-700"
            />
            <input
              type="checkbox"
              class="astro-UWNXE3I2 hidden"
              style="display:none"
              name="botcheck"
            />
            <div class="astro-UWNXE3I2 mb-5">
              <input
                type="text"
                placeholder="Full Name"
                required=""
                class="astro-UWNXE3I2 animate-delay-400 w-full animate-fade rounded-md  bg-zinc-200 px-4 py-3 outline-none placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
                name="name"
              />
            </div>
            <div class="astro-UWNXE3I2 mb-5">
              <label for="email_address" class="astro-UWNXE3I2 sr-only"
                >Email Address</label
              ><input
                id="email_address"
                type="email"
                placeholder="Email Address"
                name="email"
                required=""
                class="astro-UWNXE3I2 w-full animate-fade rounded-md  bg-zinc-200 px-4 py-3 outline-none animate-delay-200 placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
              />
            </div>
            <div class="astro-UWNXE3I2 mb-5">
              <label for="phone_number" class="astro-UWNXE3I2 sr-only"
                >Phone Number</label
              ><input
                id="phone_number"
                type="number"
                placeholder="Phone Number"
                name="email"
                required=""
                class="astro-UWNXE3I2 w-full animate-fade rounded-md  bg-zinc-200 px-4 py-3 outline-none animate-delay-200 placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
              />
            </div>
            <div class="astro-UWNXE3I2 mb-3">
              <textarea
                name="message"
                required=""
                placeholder="Your Message"
                class="astro-UWNXE3I2 h-36 w-full animate-fade rounded-md  bg-zinc-200 px-4 py-3 outline-none animate-delay-500 placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
              ></textarea>
            </div>
            <button
              type="submit"
              class="astro-UWNXE3I2 w-full animate-fade rounded border-2 border-transparent  bg-zinc-600 px-6 py-3 text-center text-neutral-200 ring-zinc-200 ring-offset-2 transition animate-delay-700 focus-visible:ring-2 dark:bg-white dark:text-neutral-800"
              >Send Message
            </button>
            <div id="result" class="astro-UWNXE3I2 mt-3 text-center"></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
