---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Tech from '@/components/Tech.astro'
import Tech2 from '@/components/Tech2.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/prism-logo.svg'
import misty from '../assets/misty.webp'
import dashboard from '../assets/dashboard.webp'
import goldleafold from '../assets/goldleafmd-old.webp'
import goldleafnew from '../assets/goldleafmd-new.webp'
import hero from '../assets/hero-test.mp4'
import herocover from '../assets/hero-test.webp'
import '../assets/fontawesome/css/all.min.css'
---

<BaseLayout
  title="PRI5M | technology + marketing solutions for the modern era"
  description="technology + marketing solutions for the modern era"
>
  <div class="-mt-20">
    <section class="gap-6pb-40 container grid items-center pt-20">
      <div class="pb-20 pt-20">
          <h1
            class="max-w-[900px] pt-20 animate-fade text-4xl font-semibold animate-delay-200 md:text-6xl"
          >
            <span class="fade font-semibold">Prism</span> delivers unforgettable marketing experiences
          </h1>
      </div>
    </section>
  </div>

  <section class="hero-video container px-0 transition-all">
    <video class="bg-white mx-auto" poster={herocover} autoplay="" loop="" muted="" playsinline="">
      <source src={hero} type="video/mp4">
      </video>
  </section>

  <section class="container my-40 bg-[url('../assets/global.webp')] bg-contain bg-no-repeat bg-center">
  <div class="max-w-[850px] mx-auto py-40 text-center text-zinc-600 text-4xl font-medium">
<p class="mb-10">Transform your online presence with our web development expertise at Prism. </p>
<p>We specialize in creating memorable, effective, and results-driven websites that elevate your brand to new heights in the digital era.</p>
    </div>
  </section>

<section class="container-mx mb-20 bg-zinc-100 py-40 text-center">
  <div class="container max-w-[800px]">
  <h2 class="mb-20 text-zinc-900 text-3xl">Technologies we work with</h2>
    <div role="tablist" class="tabs tabs-bordered">
      <input type="radio" name="my_tabs_1" role="tab" class="tab text-lg pb-10 px-3" aria-label="Frontend" />
      <div role="tabpanel" class="tab-content py-20 text-left"><Tech/></div>
    
      <input type="radio" name="my_tabs_1" role="tab" class="tab text-lg pb-10 px-3" aria-label="Backend" checked />
      <div role="tabpanel" class="tab-content py-20 text-left"> <Tech2/></div>
    
      <input type="radio" name="my_tabs_1" role="tab" class="tab text-lg pb-10 px-3" aria-label="Mobile" />
      <div role="tabpanel" class="tab-content py-20 text-left"> <Tech/></div>
    
      <input type="radio" name="my_tabs_1" role="tab" class="tab text-lg pb-10 px-3" aria-label="CMS" />
      <div role="tabpanel" class="tab-content py-20 text-left"> <Tech2/></div>
  </div></div>
</section>
<section id="FAQ" class="container mb-20">
  <div class="mb-20 flex flex-col gap-12 md:my-32 lg:flex-row">
    <div class="text-center lg:w-5/12 lg:pl-12 lg:text-left">
      <h2
        class="text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl lg:text-4xl"
      >
        Frequently Asked Questions
      </h2>
      <p class="mt-4 text-zinc-800 dark:text-zinc-300">
        piente optio repellendus atque illum odio! Fugiat at expedita deserunt
        dolorum molestias.
      </p>
    </div>

    <div
      class="divide-y divide-gray-200 border-gray-200 dark:divide-gray-800 dark:border-gray-800 lg:w-7/12"
    >
      <div
        class="collapse collapse-arrow rounded-none rounded-b-lg rounded-t-lg bg-zinc-100 dark:bg-zinc-800"
      >
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div
          class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
        >
          Click to open this one and close others
        </div>
        <div
          class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
        >
          <p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              dignissim augue nec neque ultrices, a dignissim nisi elementum.
              Suspendisse quis eleifend augue. Proin sit amet egestas lorem.
              Praesent id convallis lacus, sit amet placerat erat. Vivamus
              blandit nunc nec finibus eleifend. Proin eget euismod quam, vel
              tincidunt elit. Aliquam dolor risus, gravida in congue vel,
              suscipit quis eros. Ut vitae convallis erat, a volutpat nulla.
            </p>
          </p>
        </div>
        <div
          class="collapse collapse-arrow rounded-none bg-zinc-100 dark:bg-zinc-800"
        >
          <input type="radio" name="my-accordion-2" />
          <div
            class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
          >
            Click to open this one and close others
          </div>
          <div
            class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
          >
            <p>
              <p>
                Curabitur ac scelerisque metus. Pellentesque ut ipsum volutpat
                erat placerat pretium nec ut urna. Donec ut lacus lacus.
                Suspendisse a nisi non risus porttitor varius et vitae lectus.
                Aenean rhoncus lectus velit, sit amet efficitur mauris viverra
                non. Pellentesque interdum arcu risus, nec suscipit tellus
                scelerisque nec. Sed iaculis aliquet ante consectetur posuere.
              </p>
            </p>
          </div>
          <div
            class="collapse collapse-arrow rounded-none bg-zinc-100 dark:bg-zinc-800"
          >
            <input type="radio" name="my-accordion-2" />
            <div
              class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
            >
              Click to open this one and close others
            </div>
            <div
              class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
            >
              <p class="mb-5 pt-5">
                Donec in congue nisi. Nam a risus a sapien scelerisque
                consectetur. Integer viverra tincidunt enim, ultricies efficitur
                ex venenatis ut. Proin sollicitudin lorem quis lectus rutrum
                porttitor. Etiam nec dui in mi ornare condimentum. Nulla a augue
                volutpat, scelerisque turpis eget, bibendum est. Nulla vulputate
                mi posuere, laoreet metus vitae, varius nunc. Nullam lacinia
                turpis ut justo pretium, a tempor tellus semper. In hac
                habitasse platea dictumst.
              </p>

              <p class="pb-5">
                Fusce non sollicitudin est, ac porttitor libero. Pellentesque et
                dolor pharetra, vestibulum turpis quis, sodales odio. Nullam
                suscipit turpis quis cursus ullamcorper. Proin metus lorem,
                lobortis a fermentum quis, pretium vitae orci. Curabitur
                vulputate velit nec efficitur consectetur. Etiam et sapien
                magna. Morbi nec ultricies tellus. Suspendisse potenti.
              </p>
            </div>
          </div>
          <div class="collapse collapse-arrow bg-zinc-100 dark:bg-zinc-800">
            <input type="radio" name="my-accordion-2" />
            <div
              class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
            >
              Click to open this one and close others
            </div>
            <div
              class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
            >
              <p class="pb-5 pt-5">
                Nunc nisl est, porta vitae ullamcorper dapibus, imperdiet vitae
                est. Donec posuere ipsum eu rhoncus molestie. Aenean dictum ante
                non vulputate sodales. Morbi malesuada, lorem nec rutrum
                ultricies, massa magna dapibus ipsum, vitae gravida augue metus
                nec magna. Aenean faucibus pretium diam at vehicula. Nunc id
                libero porta, convallis augue sit amet, ornare diam. Suspendisse
                potenti. Phasellus pretium arcu in erat fringilla, a hendrerit
                quam tempus. Curabitur malesuada nisi sed urna rutrum, id
                sagittis turpis cursus. In egestas lacus eu justo porta pretium.
                Pellentesque eleifend maximus gravida.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .fade-bg {
    background: linear-gradient(
      90deg,
      #5fbb4620 0%,
      #3291d020 33.33%,
      #e1389520 64.58%,
      #f7951e20 100%
    );
  }

  #industry-list .fa-caret-right {
    font-size: 7pt;
    vertical-align: middle;
  }

  .mockup-browser .mockup-browser-toolbar .input {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
</style>


<script>
  var scrollPosition = window.scrollY
  var navBG = document.getElementsByClassName('hero-video')[0]
  window.addEventListener('scroll', function () {
    scrollPosition = window.scrollY

    if (scrollPosition >= 100) {
      navBG.classList.add('max-w-full')
    } else {
      navBG.classList.remove('max-w-full')
    }
  })

</script>

