---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Tech from '@/components/Tech.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
import misty from '../assets/misty.webp'
import '../assets/fontawesome/css/all.min.css'
---

<BaseLayout
  title="PRI5M | technology + marketing solutions for the modern era"
  description="technology + marketing solutions for the modern era"
>
  <div class="fade-bg -mt-20">
    <section
      class="gap-6pb-40 container grid items-center pt-40 max-[600px]:pt-20"
    >
      <div class="pb-40 pt-20">
        <div class="flex flex-col items-center gap-2 text-center">
          <h1
            class="max-w-[900px] animate-fade text-4xl font-extrabold animate-delay-200 md:text-6xl"
          >
            <span class="fade">Prism</span> delivers unforgettable marketing experiences
          </h1>
          <p
            class="text-md mb-10 mt-5 max-w-[700px] animate-fade text-center text-muted-foreground animate-delay-300 md:text-lg"
          >
            Transform your online presence with our web development expertise at
            Prism. We specialize in creating memorable, effective, and
            results-driven websites that elevate your brand to new heights in
            the digital era.
          </p>
        </div>
        <div
          class="flex animate-fade-down justify-center gap-4 animate-delay-200 animate-duration-[800ms] max-[600px]:flex-col"
        >
        <a
          href="#strategy"
          rel="noreferrer"
          class={buttonVariants({ variant: 'outlineintro' })}
          ><Image
            src={logo}
            alt="PRI5M Logo"
            id="site-logo"
            class="mr-3 max-w-[24px]"
          />
          Learn more
        </a>
          <a
            href="/showcase"
            rel="noreferrer"
            class={buttonVariants({ variant: 'fadeintro' })}
          >
          See project showcase
          </a>
        </div>
      </div>
    </section>
  </div>

  <section id="strategy" class="container mb-40">
    <div class="pt-32 md:pt-44" id="solution">
      <div class="mx-auto max-w-6xl">
        <div
          class="animate-fade-up flex-row-reverse items-center justify-between space-y-12 text-gray-600 animate-delay-300 animate-duration-[800ms] md:flex md:gap-3 lg:gap-5 lg:space-y-0"
        >
          <div class="relative ml-auto h-full md:w-1/2">
            <div class="mockup-browser border dark:bg-base-300">
              <div class="mockup-browser-toolbar">
                <div class="input">www.mistyrobotics.com</div>
              </div>
              <div class="flex justify-center">
                <Image src={misty} alt="Misty Robotics" />
              </div>
            </div>
          </div>

          <div class="md:w-1/2 lg:w-[40%]">
            <h2
              class="animate-fade text-3xl font-bold text-gray-900 animate-delay-500 animate-duration-1000 dark:text-white md:text-4xl lg:text-5xl"
            >
              <span class="fade">Prism</span> has industry expertise
            </h2>
            <p
              class="mb-5 mt-5 animate-fade text-gray-600 animate-delay-500 animate-duration-1000 dark:text-gray-300"
            >
              Prism has over <em>2 decades</em> of marketing experience under our
              belt. We've had the opportunity to provide for over 500 clients in
              a variety of industries, including:
            </p>
            <div
              class="grid-col-2 sm:grid-col-1 text-md grid grid-flow-col leading-7 text-gray-500"
              id="industry-list"
            >
              <div>
                <ul>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Healthcare
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Finance
                  </li>
                  
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Education
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Legal
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Real Estate
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Robotics
                  </li>
                </ul>
              </div>
              <div>
                <ul><li>
                  <i
                    class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                  ></i> Technology
                </li>
                <li>
                  <i
                    class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                  ></i> Manufacturing
                </li>
                <li>
                  <i
                    class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                  ></i> Non-Profit
                </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Health & Wellness
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Food & Beverage
                  </li>
                  <li>
                    <i
                      class="fa-solid fa-arrow-right mr-2 text-black dark:text-white"
                    ></i> Entertainment
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-10">

                 
        <a
          href="#technology"
          rel="noreferrer"
          class={buttonVariants({ variant: 'outlineintro' })}
          >
          Check out our tech <i
          class="fa-solid fa-angle-down ml-4 text-sm group-hover:animate-ping text-black dark:text-zinc-500"
        ></i>
        </a>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="container-mx mb-20 bg-zinc-100 md:pb-40">
      <div
        class="mx-auto max-w-7xl items-center px-8 py-40 md:px-12 lg:px-16 xl:px-24" id="technology"
      >
        <div class="max-w-lg">
          <h2
            class="text-3xl font-semibold tracking-tighter text-gray-900 lg:text-5xl"
          >
            <span class="fade">Prism</span> has a diverse technology stack
          </h2>
          <p
              class="mb-5 mt-5 animate-fade animate-delay-500 animate-duration-1000 text-gray-600"
            >
            We're here to tackle your technology and marketing problems. To do so, we're always up to date on the latest + greatest technologies, so you can focus on what you need to!
            </p>
        </div>
        <div>
          <Tech />
        </div>
      </div>
      <div
        class="mx-auto max-w-7xl bg-gradient-to-r from-indigo-950 to-indigo-900 lg:rounded-3xl"
      >
        <div class="mx-auto max-w-7xl px-8 py-24 md:px-12 lg:px-16 xl:px-24">
          <div
            class="grid grid-cols-1 items-end gap-12 md:grid-cols-2 lg:gap-24"
          >
            <div>
              <h2 class="inline-flex items-center text-white">
                <span class="text-base font-medium tracking-tight">CTA</span>
              </h2>
              <h2
                class="mt-6 text-3xl font-semibold tracking-tighter text-white lg:text-5xl"
              >
                Ready to get started with Spaziobianco?
              </h2>
              <p class="mt-5 text-slate-400">
                Receive dividends bull investment mutual funds rise federal
                funds strategy substantially treasury municipal public index
                funds.
              </p>
              <div class="mt-10 flex flex-col gap-6 lg:flex-row">
                <a
                  class="inline-flex w-auto items-center justify-center gap-3 rounded-full bg-blue-500 px-6 py-3.5 font-medium text-white ring-2 ring-transparent duration-200 hover:bg-blue-600 focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus-visible:outline-2 focus-visible:outline-offset-2 active:bg-blue-800 active:text-white lg:px-8"
                  href="/system/overview"
                >
                  Explor all pages
                </a>
                <a
                  href=""
                  class="group inline-flex items-center justify-center text-white hover:text-blue-500"
                >
                  See libraries
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="ml-3 h-4 w-4 transform transition duration-500 ease-in-out group-hover:translate-x-2"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="mt-12 lg:mt-0">
              <div class="mx-auto">
                <div class="grid grid-cols-2 gap-6 gap-y-14 lg:gap-12">
                  <article>
                    <div class="space-y-3">
                      <div>
                        <p class="font-semibold text-white">
                          Supervised deployments
                        </p>
                      </div>
                      <p class="text-sm text-slate-400">
                        Debt bills lucrative capitalization municipal bonds
                        government.
                      </p>
                    </div>
                  </article>
                  <article>
                    <div class="space-y-3">
                      <div>
                        <p class="font-semibold text-white">Conect your SaaS</p>
                      </div>
                      <p class="text-sm text-slate-400">
                        Debt bills lucrative capitalization municipal bonds
                        government.
                      </p>
                    </div>
                  </article>
                  <article>
                    <div class="space-y-3">
                      <div>
                        <p class="font-semibold text-white">Databse ready</p>
                      </div>
                      <p class="text-sm text-slate-400">
                        Debt bills lucrative capitalization municipal bonds
                        government.
                      </p>
                    </div>
                  </article>
                  <article>
                    <div class="space-y-3">
                      <div>
                        <p class="font-semibold text-white">Deployments</p>
                      </div>
                      <p class="text-sm text-slate-400">
                        Debt bills lucrative capitalization municipal bonds
                        government.
                      </p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="FAQ" class="container mb-20">
      <div class="mb-20 flex flex-col gap-12 md:my-32 lg:flex-row">
        <div class="text-center lg:w-5/12 lg:pl-12 lg:text-left">
          <h2
            class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl lg:text-4xl"
          >
            Frequently Asked Questions
          </h2>
          <p class="mt-4 text-gray-600 dark:text-gray-300">
            piente optio repellendus atque illum odio! Fugiat at expedita
            deserunt dolorum molestias.
          </p>
        </div>

        <div
          class="divide-y divide-gray-200 border-gray-200 dark:divide-gray-800 dark:border-gray-800 lg:w-7/12"
        >
          <div
            class="collapse collapse-arrow rounded-none rounded-b-lg rounded-t-lg bg-gray-100 dark:bg-zinc-800"
          >
            <input type="radio" name="my-accordion-2" checked="checked" />
            <div
              class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
            >
              Click to open this one and close others
            </div>
            <div
              class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
            >
              <p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  dignissim augue nec neque ultrices, a dignissim nisi
                  elementum. Suspendisse quis eleifend augue. Proin sit amet
                  egestas lorem. Praesent id convallis lacus, sit amet placerat
                  erat. Vivamus blandit nunc nec finibus eleifend. Proin eget
                  euismod quam, vel tincidunt elit. Aliquam dolor risus, gravida
                  in congue vel, suscipit quis eros. Ut vitae convallis erat, a
                  volutpat nulla.
                </p>
              </p>
            </div>
            <div
              class="collapse collapse-arrow rounded-none bg-gray-100 dark:bg-zinc-800"
            >
              <input type="radio" name="my-accordion-2" />
              <div
                class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
              >
                Click to open this one and close others
              </div>
              <div
                class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
              >
                <p>
                  <p>
                    Curabitur ac scelerisque metus. Pellentesque ut ipsum
                    volutpat erat placerat pretium nec ut urna. Donec ut lacus
                    lacus. Suspendisse a nisi non risus porttitor varius et
                    vitae lectus. Aenean rhoncus lectus velit, sit amet
                    efficitur mauris viverra non. Pellentesque interdum arcu
                    risus, nec suscipit tellus scelerisque nec. Sed iaculis
                    aliquet ante consectetur posuere.
                  </p>
                </p>
              </div>
              <div
                class="collapse collapse-arrow rounded-none bg-gray-100 dark:bg-zinc-800"
              >
                <input type="radio" name="my-accordion-2" />
                <div
                  class="collapse-title text-lg font-bold text-zinc-800 dark:text-zinc-200"
                >
                  Click to open this one and close others
                </div>
                <div
                  class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
                >
                  <p class="mb-5 pt-5">
                    Donec in congue nisi. Nam a risus a sapien scelerisque
                    consectetur. Integer viverra tincidunt enim, ultricies
                    efficitur ex venenatis ut. Proin sollicitudin lorem quis
                    lectus rutrum porttitor. Etiam nec dui in mi ornare
                    condimentum. Nulla a augue volutpat, scelerisque turpis
                    eget, bibendum est. Nulla vulputate mi posuere, laoreet
                    metus vitae, varius nunc. Nullam lacinia turpis ut justo
                    pretium, a tempor tellus semper. In hac habitasse platea
                    dictumst.
                  </p>

                  <p class="pb-5">
                    Fusce non sollicitudin est, ac porttitor libero.
                    Pellentesque et dolor pharetra, vestibulum turpis quis,
                    sodales odio. Nullam suscipit turpis quis cursus
                    ullamcorper. Proin metus lorem, lobortis a fermentum quis,
                    pretium vitae orci. Curabitur vulputate velit nec efficitur
                    consectetur. Etiam et sapien magna. Morbi nec ultricies
                    tellus. Suspendisse potenti.
                  </p>
                </div>
              </div>
              <div class="collapse collapse-arrow bg-zinc-100 dark:bg-zinc-800">
                <input type="radio" name="my-accordion-2" />
                <div
                  class="collapse-title text-lg font-bold text-gray-800 dark:text-zinc-200"
                >
                  Click to open this one and close others
                </div>
                <div
                  class="collapse-content text-sm font-normal leading-6 text-zinc-500 dark:text-zinc-400"
                >
                  <p class="pb-5 pt-5">
                    Nunc nisl est, porta vitae ullamcorper dapibus, imperdiet
                    vitae est. Donec posuere ipsum eu rhoncus molestie. Aenean
                    dictum ante non vulputate sodales. Morbi malesuada, lorem
                    nec rutrum ultricies, massa magna dapibus ipsum, vitae
                    gravida augue metus nec magna. Aenean faucibus pretium diam
                    at vehicula. Nunc id libero porta, convallis augue sit amet,
                    ornare diam. Suspendisse potenti. Phasellus pretium arcu in
                    erat fringilla, a hendrerit quam tempus. Curabitur malesuada
                    nisi sed urna rutrum, id sagittis turpis cursus. In egestas
                    lacus eu justo porta pretium. Pellentesque eleifend maximus
                    gravida.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</BaseLayout>

<style>
.fade-bg {
  background: linear-gradient(
    90deg,
    #5fbb4617 0%,
    #3291d015 33.33%,
    #e1389517 64.58%,
    #f7951e17 100%
  );
}
#industry-list .fa-arrow-right {
  font-size: 7pt;
  vertical-align: middle;
}
</style>