---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Tech from '@/components/Tech.astro'
import Tech2 from '@/components/Tech2.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/prism-logo.svg'
import hero from '../assets/hero.mp4'
import herocover from '../assets/hero-test.webp'
import '../assets/fontawesome/css/all.min.css'
---


<BaseLayout
  title="PRI5M | technology + marketing solutions for the modern era"
  description="technology + marketing solutions for the modern era"
>
  <div class="-mt-20">
    <section class="gap-6pb-40 container grid items-center pt-20">
      <div class="pb-20 pt-20">
          <h1
            class="max-w-[900px] pt-20 animate-fade text-4xl font-semibold animate-delay-200 md:text-6xl"
          >
            <span class="fade font-semibold">Prism</span> delivers unforgettable marketing experiences
          </h1>
      </div>
    </section>
  </div>

  <section class="hero-video container px-0 transition-all duration-700">
    <video class="bg-white mx-auto" poster="/hero-test.webp" autoplay="" loop="" muted="" playsinline="">
      <source src={hero} type="video/mp4">
      </video>
  </section>

  
<section class="container my-40">
  asf
  </section>

<section class="container-mx mb-20 bg-zinc-100 py-40 text-center">
  <div class="container max-w-[800px]">
    <h2 class="mb-20 text-zinc-900 text-3xl" data-astro-cid-j7pv25f6="">Technologies we work with</h2>
    
      <nav class="justify-center flex space-x-1 mb-20" aria-label="Tabs" role="tablist">
        <button type="button" class="hs-tab-active:font-semibold hs-tab:border-zinc-200 hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-3 inline-flex items-center gap-x-2 border-b-2 border-transparent text-lg whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500 active" id="tabs-with-underline-item-1" data-hs-tab="#tabs-with-underline-1" aria-controls="tabs-with-underline-1" role="tab">
          Frontend
        </button>
        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-3 inline-flex items-center gap-x-2 border-b-2 border-transparent text-lg whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="tabs-with-underline-item-2" data-hs-tab="#tabs-with-underline-2" aria-controls="tabs-with-underline-2" role="tab">
          Backend
        </button>
        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-3 inline-flex items-center gap-x-2 border-b-2 border-transparent text-lg whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="tabs-with-underline-item-3" data-hs-tab="#tabs-with-underline-3" aria-controls="tabs-with-underline-3" role="tab">
          Mobile
        </button>
        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-3 inline-flex items-center gap-x-2 border-b-2 border-transparent text-lg whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="tabs-with-underline-item-4" data-hs-tab="#tabs-with-underline-4" aria-controls="tabs-with-underline-4" role="tab">
          CMS
        </button>
      </nav>
    
    <div class="mt-3">
      <div id="tabs-with-underline-1" role="tabpanel" aria-labelledby="tabs-with-underline-item-1">
        <Tech/>
      </div>
      <div id="tabs-with-underline-2" class="hidden" role="tabpanel" aria-labelledby="tabs-with-underline-item-2">
        <Tech2/>
      </div>
      <div id="tabs-with-underline-3" class="hidden" role="tabpanel" aria-labelledby="tabs-with-underline-item-3">
        <Tech/>
      </div>
      <div id="tabs-with-underline-4" class="hidden" role="tabpanel" aria-labelledby="tabs-with-underline-item-4">
        <Tech2/>
      </div>
    </div>
  </div>
</section>

<section class="container my-40 bg-[url('../assets/global.webp')] bg-contain bg-no-repeat bg-center">
  <div class="max-w-[850px] mx-auto py-40 text-center text-zinc-600 text-4xl font-medium">
<p class="mb-10">Transform your online presence with our web development expertise at Prism. </p>
<p>We specialize in creating memorable, effective, and results-driven websites that elevate your brand to new heights in the digital era.</p>
    </div>
  </section>

<section id="FAQ" class="container mb-20">
  <div class="mb-20 flex flex-col gap-12 md:my-32 lg:flex-row">
    <div class="text-center lg:w-5/12 lg:pl-12 lg:text-left">
      <h2
        class="text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl lg:text-4xl"
      >
        Frequently Asked Questions
      </h2>
      <p class="mt-4 text-zinc-800 dark:text-zinc-300">
        piente optio repellendus atque illum odio! Fugiat at expedita deserunt
        dolorum molestias.
      </p>
    </div>

    <div
      class="divide-y divide-gray-200 border-gray-200 dark:divide-gray-800 dark:border-gray-800 lg:w-7/12"
    ><div class="hs-accordion-group">
      <div class="hs-accordion active bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg dark:bg-gray-800 dark:border-gray-700" id="hs-bordered-heading-one">
        <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-bordered-collapse-one">
          <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
          </svg>
          <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
          </svg>
          Accordion #1
        </button>
        <div id="hs-basic-bordered-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-bordered-heading-one">
          <div class="pb-4 px-5">
            <p class="text-gray-800 dark:text-gray-200">
              <em>This is the third item's accordion body.</em> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions.
            </p>
          </div>
        </div>
      </div>
    
      <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg dark:bg-gray-800 dark:border-gray-700" id="hs-bordered-heading-two">
        <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-bordered-collapse-two">
          <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
          </svg>
          <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
          </svg>
          Accordion #2
        </button>
        <div id="hs-basic-bordered-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-bordered-heading-two">
          <div class="pb-4 px-5">
            <p class="text-gray-800 dark:text-gray-200">
              <em>This is the second item's accordion body.</em> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions.
            </p>
          </div>
        </div>
      </div>
    
      <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg dark:bg-gray-800 dark:border-gray-700" id="hs-bordered-heading-three">
        <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-bordered-collapse-three">
          <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
          </svg>
          <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
          </svg>
          Accordion #3
        </button>
        <div id="hs-basic-bordered-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-bordered-heading-three">
          <div class="pb-4 px-5">
            <p class="text-gray-800 dark:text-gray-200">
              <em>This is the first item's accordion body.</em> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
</BaseLayout>

<style>
  .fade-bg {
    background: linear-gradient(
      90deg,
      #5fbb4620 0%,
      #3291d020 33.33%,
      #e1389520 64.58%,
      #f7951e20 100%
    );
  }

  #industry-list .fa-caret-right {
    font-size: 7pt;
    vertical-align: middle;
  }

  .mockup-browser .mockup-browser-toolbar .input {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
</style>


<script>
  var scrollPosition = window.scrollY
  var navBG = document.getElementsByClassName('hero-video')[0]
  window.addEventListener('scroll', function () {
    scrollPosition = window.scrollY

    if (scrollPosition >= 100) {
      navBG.classList.add('max-w-full')
    } else {
      navBG.classList.remove('max-w-full')
    }
  })

  import { reset, run } from 'vanilla-cookieconsent';
	import { config } from 'src/components/CookiesConsentConfig';

	const resetBtn = document.getElementById("reset-btn");
	const toggleThemeBtb = document.getElementById("toggle-theme-btn");

	resetBtn?.addEventListener('click', () => {
		reset(true);
		run(config);
	});

	toggleThemeBtb?.addEventListener('click', () => {
		document.body.classList.toggle('cc--elegant-black');
	});
</script>

