---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
---

<BaseLayout
  title="PRI5M Process"
  description="Modern development for forward thinking individuals"
>
 
<section class="gap-6pb-40 md:py-100 container grid items-center pt-10">
  <div class="pb-40 pt-20">
    <div class="flex flex-col items-start items-center gap-2 text-center">
      <h1
        class="max-w-[900px] animate-fade text-4xl font-extrabold animate-delay-200 md:text-6xl"
      >
        Our Process
      </h1>
      <p
        class="text-md mb-10 mt-5 max-w-[700px] animate-fade text-center text-muted-foreground animate-delay-300 md:text-lg"
      >
        Whether you're starting fresh, or levelling-up an existing product,
        PRI5M brings a depth of experience in brand development, software
        engineering and marketing.
      </p>
    </div>
    </div>
  </section>
  
</BaseLayout>
