---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
---

<BaseLayout
  title="PRI5M Process"
  description="Modern development for forward thinking individuals"
>
  <section class="gap-6pb-40 md:py-100 container grid items-center pt-10">
    <div class="pb-40 pt-20"></div>
  </section>
</BaseLayout>
