---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
---

<BaseLayout
  title="PRI5M Showcase"
  description="Modern development for forward thinking individuals"
>
  <section class="container grid items-center gap-6pb-40 pt-10 md:py-100">
    <div class="pt-20 pb-40">
    <div class="flex flex-col items-start gap-2 text-center items-center">
      <h1
        class="max-w-[900px] text-4xl font-extrabold md:text-6xl"
      >
      Showcase
      </h1>
      <p class="max-w-[700px] text-md md:text-lg text-muted-foreground text-center mt-5 mb-10">
        Whether you're starting fresh, or levelling-up an existing product, PRI5M brings a depth of experience in brand development, software engineering and marketing.
      </p>
    </div>
  </section>
  
</BaseLayout>
