---
import { Image } from 'astro:assets'
import logo from '../assets/prism-logo.svg'
import { buttonVariants } from '@/components/ui/button'
---

<div class="hidden md:block">
  <button
    onclick="my_modal_2.showModal()"
    class={buttonVariants({ variant: 'clientHeader' })}
    ><Image
      src={logo}
      alt="PRI5M Logo"
      id="site-logo" loading="eager"
      class="mr-2 max-w-[22px] group-hover:animate-wiggle-more"
    />
    Client Login
  </button>   
</div>
<dialog id="my_modal_2" class="mx-w-1 modal">
  <div class="modal-box bg-white dark:bg-zinc-900">
    <div class="mb-10 text-xl font-bold">
      <Image
        src={logo}
        alt="PRI5M Logo" loading="eager"
        class="float-left mr-3 mt-[3px] max-w-[30px]"
      /> Client Login
    </div>
    <form
      action=""
      method="POST"
      id="form"
      class="needs-validation astro-UWNXE3I2"
      novalidate=""
    >
      <input
        type="hidden"
        name="access_key"
        value="YOUR_ACCESS_KEY_HERE"
        class="astro-UWNXE3I2 animate-fade animate-delay-700"
      />
      <input
        type="checkbox"
        class="astro-UWNXE3I2 hidden"
        style="display:none"
        name="botcheck"
      />
      <div class="astro-UWNXE3I2 mb-5">
        <label for="email_address" class="astro-UWNXE3I2 sr-only"
          >Email Address</label
        ><input
          id="email_address"
          type="email"
          placeholder="Email Address"
          name="email"
          required=""
          class="astro-UWNXE3I2 w-full animate-fade rounded-md bg-zinc-200 px-4 py-3 outline-none animate-delay-200 placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
        />
      </div>
      <div class="astro-UWNXE3I2 mb-5">
        <input
          type="password"
          placeholder="Password"
          required=""
          class="astro-UWNXE3I2 animate-delay-400 w-full animate-fade rounded-md bg-zinc-200 px-4 py-3 outline-none placeholder:text-zinc-400 focus:ring-4 dark:bg-zinc-800"
          name="name"
        />
      </div>
      <button
        type="submit"
        class="astro-UWNXE3I2 w-full animate-fade rounded border-2 border-transparent bg-zinc-600 px-6 py-3 text-center text-neutral-200 ring-gray-200 ring-offset-2 transition animate-delay-700 focus-visible:ring-2 dark:bg-white dark:text-neutral-800"
        >Login
      </button>
      <div id="result" class="astro-UWNXE3I2 mt-3 text-center"></div>
    </form>

    <div class="text-center">
      <a href="/" class="text-sm">Forgot Password?</a>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
