<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Made with  ❤ using <a href="#" class="text-zinc-800 font-bold dark:text-zinc-200">Astro</a> + <a href="#" class="text-zinc-800 font-bold dark:text-zinc-200">Tailwind</a>. 
      <div class="align-right text-sm text-zinc-800 dark:text-zinc-200">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="text-zinc-200">CC BY-NC-SA 4.0</a>
        2023 © PRI5M.COM
      </div>
   
    </p>
  </div>
</footer>


