---
import { buttonVariants } from '@/components/ui/button'
import Nav from '@/components/Nav.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import Social from '@/components/Social.astro'
import ClientLogin from '@/components/ClientLogin.astro'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<header
  class="nav-border navigation sticky top-0 z-50 w-full border-b backdrop-blur"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div
      class="flex gap-6 text-sm font-medium text-zinc-500 max-[600px]:text-xs md:gap-10"
    >
      <ul id="nav" class="flex list-none gap-4 md:gap-8">
        <li>
          <a href="/" class="flex items-center space-x-2 active:opacity-80">
            <span class="inline-block"
              ><Image
                src={logo}
                alt="PRI5M Logo"
                id="site-logo"
                class="float-left max-w-[32px] max-[600px]:max-w-[28px]"
              /></span
            ><div class="text-sm font-bold text-zinc-800 dark:text-white">
              Prism
            </div>
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 sm:flex"
        >
          <details class="dropdown">
            <summary
              role="button"
              class={currentPath === 'services/' ? 'active' : ''}
              >Services <i
                class="fa-solid fa-chevron-down align-text-middle text-[10px]"
              ></i></summary
            >
            <ul
              tabindex="0"
              class="menu dropdown-content z-[1] mt-2 w-80 rounded-lg bg-white/95 dark:bg-zinc-950/95 shadow"
            >
              <div class="relative grid gap-5 px-4 py-5 sm:gap-6 sm:p-6">
                <a
                  href="/services/app-development"
                  class="-m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900 group"
                  aria-current=""
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    aria-hidden="true"
                    class="h-6 w-6 flex-shrink-0"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  ><div class="ml-4">
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >App Development</span
                    ><p class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300">
                      Depth of experience that few can match
                    </p>
                  </div></a
                ><a
                  href="/services/digital-marketing"
                  class="-m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900 group"
                  aria-current=""
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    aria-hidden="true"
                    class="h-6 w-6 flex-shrink-0"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  ><div class="ml-4">
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >Digital Marketing</span
                    ><p class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300">
                      Experts in cross-functional collaboration
                    </p>
                  </div></a
                ><a
                  href="/services/infrastructure-design"
                  class="flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900 group"
                  aria-current=""
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    aria-hidden="true"
                    class="h-6 w-6 flex-shrink-0"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  ><div class="ml-4">
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >Infrastructure Design</span
                    ><p class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300">
                      On-tap capability for new &amp; active projects
                    </p>
                  </div></a
                >
              </div>
            </ul>
          </details>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 sm:flex"
        >
          <a
            href="/showcase"
            class={currentPath === 'showcase/' ? 'active' : ''}
          >
            <span
              class="inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Showcase</span
            >
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 sm:flex"
        >
          <a href="/blog" class={currentPath === 'blog/' ? 'active' : ''}>
            <span
              class="inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Blog</span
            >
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 sm:flex"
        >
          <a href="/contact" class={currentPath === 'contact/' ? 'active' : ''}>
            <span
              class="inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Contact</span
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="animation-1000 flex items-center gap-3 space-x-1">
        <Social />
        <div><ThemeToggle /></div>
        <div class="hidden lg:block"><ClientLogin /></div>

        <div
          class="flex hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 sm:hidden md:hidden lg:hidden xl:hidden"
        >
          <span class="inline-block">
            <details class="dropdown dropdown-end dropdown-bottom">
              <summary class="list-none"
                ><div class="tham tham-e-squeeze tham-w-5">
                  <div class="tham-box">
                    <div class="tham-inner bg-zinc-700 dark:bg-zinc-300"></div>
                  </div>
                </div></summary
              >
              <ul
                class="menu dropdown-content z-[1] mt-5 w-52 rounded-box bg-base-100 p-2 shadow dark:bg-zinc-100"
              >
                <li>
                  <a
                    href="/process"
                    class={currentPath === 'process/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Process</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/showcase"
                    class={currentPath === 'showcase/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Showcase</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/blog"
                    class={currentPath === 'blog/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Blog</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/contact"
                    class={currentPath === 'contact/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Contact</span
                    >
                  </a>
                </li>
              </ul>
            </details>
          </span>
        </div>
      </nav>
    </div>
  </div>
</header>

<style>
  #nav li {
    float: left;
  }
  .active {
    color: #363636;
    font-weight: bold;
  }
  html.dark .active {
    color: #fff !important;
  }

  .navigation {
    transition: background-color 0.35s ease-in-out;
  }

  .nav-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dark .nav-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  }
  .navigation summary::marker {
    font-size: 0pt;
  }
</style>

<script>
  var scrollPosition = window.scrollY
  var navBG = document.getElementsByClassName('navigation')[0]
  window.addEventListener('scroll', function () {
    scrollPosition = window.scrollY

    if (scrollPosition >= 100) {
      navBG.classList.add('nav-bg')
    } else {
      navBG.classList.remove('nav-bg')
    }
  })

  const tham = document.querySelector('.tham')

  tham.addEventListener('click', () => {
    tham.classList.toggle('tham-active')
  })
</script>
