---
import { buttonVariants } from '@/components/ui/button'
import ThemeToggle from '@/components/ThemeToggle.astro'
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header
  class="sticky top-0 z-50 w-full border-b border-neutral-100 backdrop-blur dark:border-neutral-800"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div
      class="flex gap-6 text-sm font-medium text-zinc-400 max-[600px]:text-xs md:gap-10"
    >
      <ul id="nav" class="flex list-none gap-4 md:gap-8">
        <li>
          <a href="/" class="flex items-center space-x-2 hover:animate-wiggle-more active:opacity-80">
            <span class="inline-block"
              ><Image
                src={logo}
                alt="PRI5M Logo"
                id="site-logo"
                class="float-left max-w-[32px] max-[600px]:max-w-[24px]"
              /></span
            >
          </a>
        </li>
        <li
          class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 dark:hover:text-zinc-300 active:opacity-80"
        >
          <a
            href="/"
            class={currentPath === "" ? "active" : ""}
          >
            <span class="inline-block">Introduction</span>
          </a>
        </li>
        <li
          class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 dark:hover:text-zinc-300 active:opacity-80"
        >
          <a
            href="process"
            class={currentPath === "process" ? "active" : ""}
          >
            <span class="inline-block">Process</span>
          </a>
        </li>
        <li
          class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 dark:hover:text-zinc-300 active:opacity-80"
        >
          <a
            href="showcase"
            class={currentPath === "showcase" ? "active" : ""}
          >
            <span class="inline-block">Showcase</span>
          </a>
        </li>
        <li
          class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 dark:hover:text-zinc-300 active:opacity-80"
        >
          <a
            href="contact"
            class={currentPath === "contact" ? "active" : ""}
          >
            <span class="inline-block">Contact</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <ThemeToggle />
      </nav>
    </div>
  </div>
</header>

<style>
  #nav li {
    float: left;
  }
  .active {
    color: #363636;
    font-weight: bold;
  }
  html.dark .active {
    color: #fff !important;
  }
</style>
