---
import { buttonVariants } from '@/components/ui/button'
import ThemeToggle from '@/components/ThemeToggle.astro'
import Social from '@/components/Social.astro'
import ClientLogin from '@/components/ClientLogin.astro'
import { Image } from 'astro:assets'
import logo from '../assets/prism-logo.svg'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<header
  class="navigation sticky top-0 z-50 w-full backdrop-blur"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div
      class="flex gap-2 text-sm font-medium text-zinc-900 dark:text-zinc-100 max-[600px]:text-xs md:gap-10"
    >
      <ul id="nav" class="flex list-none gap-4 md:gap-6">
        <li>
          <a
            href="/"
            class="group mt-[3px] flex items-center space-x-2 active:opacity-80"
            data-astro-prefetch
          >
            <span class="inline-block"
              ><Image
                src={logo}
                alt="PRI5M Logo"
                id="site-logo" loading="eager"
                class="float-left max-w-[32px] group-hover:animate-pulse max-[600px]:max-w-[28px]"
              /></span
            ><div class="text-sm font-bold text-zinc-900 dark:text-zinc-100">
              Prism
            </div>
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 md:flex"
        >
          <details class="dropdown mt-1">
            <summary
              role="button"
              class={currentPath === 'services/' ? 'active' : ''}
              >Services <i
                class="fa-solid fa-chevron-down align-text-middle m-0 p-0 text-[10px]"
              ></i></summary
            >
            <ul
              class="menu dropdown-content z-[1] mt-2 w-80 rounded-lg bg-white/95 shadow dark:bg-zinc-950/95"
            >
              <div class="relative grid gap-5 px-4 py-5 sm:gap-6 sm:p-6">
                <a
                  href="/services/brand-design"
                  class="group -m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900"
                  data-astro-prefetch aria-label="Brand Design"
                  ><i class="fa-solid fa-marker mt-1 text-2xl"></i>
                  <div class="ml-4">
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >Brand Design</span
                    ><p
                      class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300"
                    >
                      Memorable, impactful + timeless branding
                    </p>
                  </div></a
                ><a
                  href="/services/app-development"
                  class="group -m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900"
                 aria-label="App Development"
                  data-astro-prefetch
                  ><i class="fa-regular fa-file-code mt-1 text-2xl"></i>
                  <div class="ml-4">
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >App Development</span
                    ><p
                      class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300"
                    >
                      Solutions to enhance + grow your business
                    </p>
                  </div></a
                ><a
                  href="/services/digital-marketing"
                  data-astro-prefetch aria-label="Digital Marketing"
                  class="group -m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900"
                  aria-current=""
                  ><i class="fa-solid fa-chart-simple mt-1 text-2xl"></i><div
                    class="ml-4"
                  >
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >Digital Marketing</span
                    ><p
                      class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300"
                    >
                      Tactics to target + reach your audience effectively
                    </p>
                  </div></a
                ><a
                  href="/services/infrastructure-design"
                  data-astro-prefetch aria-label="Infrastructure Design"
                  class="group -m-3 flex items-start rounded-lg p-3 hover:bg-stone-100 dark:hover:bg-zinc-900"
                  aria-current=""
                  ><i class="fa-solid fa-server mt-1 text-2xl"></i><div
                    class="ml-4"
                  >
                    <span
                      class="border-b-0 border-transparent text-base font-semibold text-stone-900 dark:text-stone-300 group-hover:dark:text-stone-100"
                      >Infrastructure Design</span
                    ><p
                      class="mt-1 text-sm group-hover:text-stone-800 group-hover:dark:text-stone-300"
                    >
                      Reliable, scalable + secure solutions
                    </p>
                  </div></a
                >
              </div>
            </ul>
          </details>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:flex"
        >
          <a
            href="/showcase"
            data-astro-prefetch
            class={currentPath === 'showcase/' ? 'active' : ''}
          >
            <span
              class="float-left inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Showcase </span
            ><span class="float-left bg-purple-900 text-purple-300 rounded h-4 w-7 text-[7pt] flex items-center justify-center ml-2">NEW</span>
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:flex"
        >
          <a
            href="/blog"
            data-astro-prefetch
            class={currentPath === 'blog/' ? 'active' : ''}
          >
            <span
              class="inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Blog</span
            >
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:flex"
        >
          <a
            href="/contact"
            data-astro-prefetch
            class={currentPath === 'contact/' ? 'active' : ''}
          >
            <span
              class="inline-block duration-300 hover:text-zinc-900 dark:hover:text-zinc-400"
              >Contact</span
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="animation-1000 flex items-center gap-3 space-x-1">
        <Social />
        <div><ThemeToggle /></div>
        <div><ClientLogin /></div>

        <div
          class="flex hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:hidden lg:hidden xl:hidden"
        >
          <span class="inline-block">
            <details class="dropdown dropdown-end dropdown-bottom">
              <summary class="list-none"
                ><div class="tham tham-e-squeeze tham-w-5">
                  <div class="tham-box">
                    <div class="tham-inner bg-zinc-700 dark:bg-zinc-300"></div>
                  </div>
                </div></summary
              >
              <ul
                class="menu dropdown-content z-[1] mt-5 w-52 rounded-box bg-base-100 p-2 shadow dark:bg-zinc-100"
              >
                <li>
                  <a
                    href="/services"
                    data-astro-prefetch
                    class={currentPath === 'process/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Services</span
                    >
                  </a>
                  <ul>
                    <li>
                      <a
                        href="/services/brand-design"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Brand Design</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/app-development"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >App Development</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/digital-marketing"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Digital Marketing</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/infrastructure-design"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Infrastructure Design</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="/showcase"
                    data-astro-prefetch
                    class={currentPath === 'showcase/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Showcase</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/blog"
                    data-astro-prefetch
                    class={currentPath === 'blog/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Blog</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/contact"
                    data-astro-prefetch
                    class={currentPath === 'contact/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Contact</span
                    >
                  </a>
                </li>
              </ul>
            </details>
          </span>
        </div>
      </nav>
    </div>
  </div>
</header>

<style>
  #nav li {
    float: left;
  }
  .active {
    color: #363636;
    font-weight: bold;
  }
  html.dark .active {
    color: #fff !important;
  }

  .navigation {
    transition: background-color 0.35s ease-in-out;
  }

  .nav-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dark .nav-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  }
  .navigation summary::marker {
    font-size: 0pt;
  }
</style>

<script>
  var scrollPosition = window.scrollY
  var navBG = document.getElementsByClassName('navigation')[0]
  window.addEventListener('scroll', function () {
    scrollPosition = window.scrollY

    if (scrollPosition >= 100) {
      navBG.classList.add('nav-bg')
    } else {
      navBG.classList.remove('nav-bg')
    }
  })

  const tham = document.querySelector('.tham')

  tham.addEventListener('click', () => {
    tham.classList.toggle('tham-active')
  })
</script>
