---
import { buttonVariants } from '@/components/ui/button'
import ThemeToggle from '@/components/ThemeToggle.astro'
import Social from '@/components/Social.astro'
import ClientLogin from '@/components/ClientLogin.astro'
import { Image } from 'astro:assets'
import logo from '@/assets/prism-logo.svg'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) 
---

<header class="navigation sticky top-0 z-50 w-full backdrop-blur">
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div
      class="flex gap-2 text-sm font-medium text-zinc-900 dark:text-zinc-100 max-[600px]:text-xs md:gap-10"
    >
      <ul id="nav" class="flex list-none gap-4 md:gap-6">
        <li>
          <a
            href="/"
            class="group flex items-center space-x-2 active:opacity-80"
            data-astro-prefetch
          >
            <span class="inline-block"
              ><Image
                src={logo}
                alt="PRI5M Logo"
                id="site-logo"
                loading="eager"
                class="float-left max-w-[32px] group-hover:animate-pulse max-[600px]:max-w-[28px]"
              /></span
            ><div class="text-sm font-bold text-zinc-900 dark:text-zinc-100">
              Prism
            </div>
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out active:opacity-80 md:flex"
        >
        <nav :class="{'flex': open, 'hidden': !open}">
          <div @click.away="open = false" class="relative lg:mx-auto" x-data="{ open: false }">
            <button @click="open = !open" class="flex flex-row items-center w-full duration-300 hover:text-blue-500 md:w-auto md:inline md:mt-0 focus:shadow-outline">
              <span> Services </span>
              <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline size-4 transition-transform duration-200 transform md:-mt-1 rotate-0">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute z-10 w-screen max-w-3xl px-2 mt-3 transform -translate-x-[100px] left-1/3 sm:px-0" style="display: none;">
              <div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
                <div class="relative grid gap-6 px-5 py-6 bg-white sm:gap-8 sm:p-8">
                  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
                    <div class="grid grid-cols-1 gap-8">
                      <a href="/services/brand-design/" class="inline-flex items-start p-3 -m-3 transition duration-150 ease-in-out rounded-xl hover:bg-gray-50">
                        <div class="">
                          <ion-icon class="text-black size-6 md hydrated" name="search-outline" role="img" aria-label="search outline"></ion-icon>
                        </div>
                        <div class="ml-4">
                          <p class="text-base font-medium text-black">
                            Brand Design
                          </p>
                          <p class="mt-1 text-sm text-gray-500">
                            Memorable, impactful + timeless branding
                          </p>
                        </div>
                      </a>
                      <a href="/services/app-development/" class="inline-flex items-start p-3 -m-3 transition duration-150 ease-in-out rounded-xl hover:bg-gray-50">
                        <div class="">
                          <ion-icon class="text-black size-6 md hydrated" name="book-outline" role="img" aria-label="book outline"></ion-icon>
                        </div>
                        <div class="ml-4">
                          <p class="text-base font-medium text-black">App Development</p>
                          <p class="mt-1 text-sm text-gray-500">
                            Solutions to enhance + grow your business
                          </p>
                        </div>
                      </a>
                      <a href="/services/digital-marketing/" class="inline-flex items-start p-3 -m-3 transition duration-150 ease-in-out rounded-xl hover:bg-gray-50">
                        <div class="">
                          <ion-icon class="text-black size-6 md hydrated" name="lock-closed-outline" role="img" aria-label="lock closed outline"></ion-icon>
                        </div>
                        <div class="ml-4">
                          <p class="text-base font-medium text-black">Digital Marketing</p>
                          <p class="mt-1 text-sm text-gray-500">
                            Target + reach your audience effectively
                          </p>
                        </div>
                      </a>
                      <a href="/services/infrastructure-design/" class="inline-flex items-start p-3 -m-3 transition duration-150 ease-in-out rounded-xl hover:bg-gray-50">
                        <div class="">
                          <ion-icon class="text-black size-6 md hydrated" name="people-outline" role="img" aria-label="people outline"></ion-icon>
                        </div>
                        <div class="ml-4">
                          <p class="text-base font-medium text-black">Infrastructure Design</p>
                          <p class="mt-1 text-sm text-gray-500">
                            Reliable, scalable + secure solutions
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="grid grid-cols-1 gap-3 p-2 lg:p-0 bg-gray-50 rounded-2xl">
                      <div class="grid items-start h-full gap-6 px-5 py-6 sm:gap-8 sm:p-8">
                        <h3 class="text-base font-medium text-black">
                          More services
                        </h3>
                        <div class="space-y-2">
                          <a href="#_" class="flex items-start text-sm text-gray-500 transition duration-150 ease-in-out rounded-lg hover:text-black">
                            User Experience Design
                          </a>
                          <a href="#_" class="flex items-start text-sm text-gray-500 font-medium transition duration-150 ease-in-out rounded-lg hover:text-black">
                            Video design
                          </a>
                          <a href="#_" class="flex items-start text-sm text-gray-500 transition duration-150 ease-in-out rounded-lg hover:text-black">
                            Product Design
                          </a>
                          <a href="#_" class="flex items-start text-sm text-gray-500 transition duration-150 ease-in-out rounded-lg hover:text-black">
                            Compliance / Accessibility
                          </a>
                          <a href="#_" class="flex items-start text-sm text-gray-500 transition duration-150 ease-in-out rounded-lg hover:text-black">
                            API Development
                          </a>
                          <a href="#_" class="inline-flex items-start text-sm text-gray-500 transition duration-150 ease-in-out rounded-lg hover:text-black">
                            Integrations
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:flex"
        >
          <a
            href="/showcase"
            data-astro-prefetch
            class={currentPath === 'showcase/' ? 'active' : ''}
          >
            <span
              class="float-left inline-block duration-300 hover:text-blue-500"
              >Showcase
            </span><span
              class="float-left ml-1 h-2 w-2 animate-pulse rounded bg-blue-500"
            ></span>
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:flex"
        >
          <a
            href="/blog"
            data-astro-prefetch
            class={currentPath === 'blog/' ? 'active' : ''}
          >
            <span class="inline-block duration-300 hover:text-blue-500"
              >Blog</span
            >
          </a>
        </li>
        <li
          class="hidden items-center space-x-2 transition ease-in-out hover:text-blue-500 active:opacity-80 md:flex"
        >
          <a
            href="/contact"
            data-astro-prefetch
            class={currentPath === 'contact/' ? 'active' : ''}
          >
            <span class="hover:text-zinc-900blue inline-block duration-300"
              >Contact</span
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="animation-1000 flex items-center gap-3 space-x-1">
        <Social />
        <div><ThemeToggle /></div>
        <div><ClientLogin /></div>

        <div
          class="flex hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 md:hidden lg:hidden xl:hidden"
        >
          <span class="inline-block">
            <details class="dropdown dropdown-end dropdown-bottom">
              <summary class="list-none"
                ><div class="tham tham-e-squeeze tham-w-5">
                  <div class="tham-box">
                    <div class="tham-inner bg-zinc-700 dark:bg-zinc-300"></div>
                  </div>
                </div></summary
              >
              <ul
                class="menu dropdown-content z-[1] mt-5 w-52 rounded-box bg-base-100 p-2 shadow dark:bg-zinc-100"
              >
                <li>
                  <a
                    href="/services"
                    data-astro-prefetch
                    class={currentPath === 'process/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Services</span
                    >
                  </a>
                  <ul>
                    <li>
                      <a
                        href="/services/brand-design"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Brand Design</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/app-development"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >App Development</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/digital-marketing"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Digital Marketing</a
                      >
                    </li>
                    <li>
                      <a
                        href="/services/infrastructure-design"
                        data-astro-prefetch
                        class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                        >Infrastructure Design</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="/showcase"
                    data-astro-prefetch
                    class={currentPath === 'showcase/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Showcase</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/blog"
                    data-astro-prefetch
                    class={currentPath === 'blog/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Blog</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/contact"
                    data-astro-prefetch
                    class={currentPath === 'contact/' ? 'active' : ''}
                  >
                    <span
                      class="hover:tex-zinc-500 inline-block text-zinc-100 dark:text-zinc-900"
                      >Contact</span
                    >
                  </a>
                </li>
              </ul>
            </details>
          </span>
        </div>
      </nav>
    </div>
  </div>
</header>

<style>
  #nav li {
    float: left;
  }
  .active {
    color: #4082f1;
    font-weight: bold;
  }

  .navigation {
    transition: background-color 0.35s ease-in-out;
  }

  .navigation summary::marker {
    font-size: 0pt;
  }
</style>

<script>
  var scrollPosition = window.scrollY
  var navBG = document.getElementsByClassName('navigation')[0]
  window.addEventListener('scroll', function () {
    scrollPosition = window.scrollY

    if (scrollPosition >= 100) {
      navBG.classList.add('nav-bg')
    } else {
      navBG.classList.remove('nav-bg')
    }
  })

  const tham = document.querySelector('.tham')

  tham.addEventListener('click', () => {
    tham.classList.toggle('tham-active')
  })
</script>
