---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<ul id="nav" class="flex list-none gap-4 md:gap-8">
  <li>
    <a href="/" class="flex items-center space-x-2 active:opacity-80">
      <span class="inline-block"
        ><Image
          src={logo}
          alt="PRI5M Logo"
          id="site-logo"
          class="float-left max-w-[32px] max-[600px]:max-w-[28px]"
        /></span
      ><div class="font-bold text-zinc-800 dark:text-white text-sm">Prism</div>
    </a>
  </li>
  <li
    class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 hidden sm:flex"
  >
    <a href="/process" class={currentPath === 'process/' ? 'active' : ''}>
      <span class="inline-block">Process</span>
    </a>
  </li>
  <li
    class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 hidden sm:flex"
  >
    <a href="/showcase" class={currentPath === 'showcase/' ? 'active' : ''}>
      <span class="inline-block">Showcase</span>
    </a>
  </li>
  <li
    class="flex items-center space-x-2 transition ease-in-out hover:text-zinc-500 active:opacity-80 dark:hover:text-zinc-300 hidden sm:flex"
  >
    <a href="/contact" class={currentPath === 'contact/' ? 'active' : ''}>
      <span class="inline-block">Contact</span>
    </a>
  </li>
</ul>

<script>
    const tham = document.querySelector(".tham");
      
    tham.addEventListener('click', () => {
      tham.classList.toggle('tham-active');
    });
    </script>